[2021-09-24 17:31] apple502j opened #5 "Pulling should be done asynchronously"
Currently languages are pulled one by one, which makes this process significantly slower (5-10 minutes to pull approx. 120 files). Multiple pulls should be processed at the same time.

[2022-01-17 17:19] strokirk opened #14 "Installation script"
Hi, congratulations on the launch!

We install https://github.com/transifex/transifex-client automatically during our environment config for each developer, and would like to be able to use this new `cli`.

It would be a lot of help if there were some automatic installation instructions, even just a bash pipe, to help paper over differences between systems.

[2022-01-17 17:23] strokirk opened #15 "MacOS build cannot be verified"
Hi,

When you open the MacOS builds downloaded from the Releases page for the first time, you get the following warning:

[code]

You can circumvent that by going to Security > General and clicking the "Allow anyway" button afterwards, but it would be preferable to avoid that step.

[2022-02-10 11:29] strokirk commented on #14
Great, that should make it easier to roll this out in our organization.

[2022-02-15 14:52] mathaeus opened #18 "`tx migrate` crashes"
Hi, when executing `tx migrate` I get the following error:

[code]

I installed the client version `1.0.0` manually [following the doc](https://github.com/transifex/cli#installing-with-a-script-linuxmac).
**I'm on Mac OS 12.2 (21D49) and using `zsh`.**

----

Is the `migrate` step able to migrate the `.tx/config` file? I'm not 100% sure reading the README.
We have quite a huge config with a lot of

[2022-02-16 21:41] eight04 opened #20 "`tx push -t` doesn't work"
[code]
`tx` exits immediately after printing the last line. I don't see any error.

Repo: https://github.com/eight04/image-picka
Transifex project: https://www.transifex.com/image-picka/image-picka/dashboard/
TX Client, version=1.0.0

[2022-02-17 09:51] kostasgeo commented on #18
Hi @mathaeus and thank you for the feeback!

You are correct that the `tx migrate` command aims at migrating the `.tx/config` file, but we wrongly made an assumption about the existence of the `.transifexrc` file, thus the issue.

We have been informed by one of our customer support engineers that you have manually overcome the issue with the migration and you currently face a different one, but i

[2022-02-17 13:22] mathaeus commented on #18
Hi @kostasgeo, thanks for the update.

Yes, I did the migration by doing a find and replace with two regexes in the end. I guess your migration does something similar.
Since you released a new version, I will close this issue 👍

[2022-02-17 13:22] #18 closed

[2022-02-17 14:35] codegaze commented on #20
Hey @eight04, thanks for reaching out and for providing the data to reproduce this! :)

As far as I can understand this happens because we use the operating's system path separator (`\` in Windows) to split the `file_filter` path and in this case the `file_filter` the path has `/` in it which will result to not finding the files.

We need to rethink the way we do this and provide better messaging,

[2022-02-18 08:06] codegaze commented on #20
I'm glad to hear it @eight04. I will leave this issue open until we have an update! Cheers.

[2022-02-22 07:42] #14 closed

[2022-02-23 11:14] codegaze commented on #20
Hey @eight04, we just release a new version (`v1.0.2`) that should tackle this issue. Please feel free to test it and close this one.

[2022-02-24 14:14] dianakhuang opened #24 "Issues fetching source files."
I am in the process of migrating a project between two organization, and I'm hitting this error when pulling down source files.

I am able to pull down translations (using `tx pull -a`), and that works great, but when I try to pull down the the source files with `tx pull -s`, I get the error:

[code]

Running with cli version 1.0.2 on macOS.

[2022-02-25 09:26] codegaze commented on #24
Hello @dianakhuang, thanks for bringing this to our attention!

We just released a new version `v1.0.3` that should fix an assumption we made and resulted to this issue.
Please feel free to try it out and close the issue! Cheers!

[2022-02-25 19:35] dianakhuang commented on #24
@codegaze Thank you so much for your prompt response! It works great now.

[2022-02-25 19:35] #24 closed

[2022-02-28 07:23] codegaze commented on #20
Yes, let's close this one. I believe the `503` was a random thing and it shouldn't be a problem :)

[2022-02-28 07:23] #20 closed

[2022-03-03 06:49] kovidgoyal commented on #5
Better than just asynchronously, you should send the hashes of all po files in a single request and have the server reply with a list of updated files and then download *those* in parallel.

Going from the old client, which had --parallel to the new client has changed the download time for my project with tx pull -a from a few minutes to a few hours.

[2022-03-10 13:21] mumarkhan999 opened #27 "Short hand arguments combined form is not working in new version"
The following command was working fine with the older version but it doesn't seem working now.
[code]
For newer version we can run it only this way
[code]

<img width="393" alt="image" src="https://user-images.githubusercontent.com/42294172/157669762-ddd88766-ceea-4fb3-a1fa-aea2603b8a4e.png">

<img width="588" alt="image" src="https://user-images.githubusercontent.com/42294172/157670248-976152ae-7

[2022-03-10 14:42] mumarkhan999 opened #28 "--mode flag is giving permission denied error"
This flag was working fine with the older version (python CLI) but with the newer version it's giving permission denied error
No matter what value I choose for `--mode` it's giving the same error

<img width="1126" alt="image" src="https://user-images.githubusercontent.com/42294172/157685429-e91a6764-1458-4e4d-b4b5-1717bf310f31.png">

[2022-03-11 06:17] awais786 commented on #28
Facing similar issue also.

[2022-03-11 19:21] mumarkhan999 commented on #28
@codegaze
Need your help with this...

[2022-03-14 07:52] codegaze commented on #28
Hey @mumarkhan999, thanks for bringing this matter to our attention! :)
It seems to be an API issue and we need some time to figure things out.
We will update when this is tackled.

[2022-03-15 10:51] dan-leanix commented on #5
The new client is damn slow, and it is advertised as faster then the previous client: https://github.com/transifex/cli#differences-with-the-previous-version

Our pipeline step for pulling translations increased from 1 minute to 10 minutes. Factor 10x slower.

Looking at the following statements, the performance of the new client needs to be drastically improved.

[2022-03-15 12:34] mathaeus commented on #5
We also experienced an increase of duration by a factor of more than 10 (I think it was factor of 13 or so).
I was in contact with Transifex about the issue and they promised to do something about it, but also mentioned that this is of course something that takes a while.

@codegaze since the deadline is approaching, but obviously the new client is not usable for many of us, can you make any offic

[2022-03-15 13:35] gmatikas commented on #5
We are also experiencing an increase of duration by a factor of a lot more than 10 using the new CLI client compared to the python one.

[2022-03-16 07:45] awais786 opened #29 "tx migrate command requires token which can be avoided"
Right now `tx migrate` command requires token. But apparently it just make changes in config files.
May be this can be make optional ?

[2022-03-16 13:15] nelefth commented on #5
Thank you all very much for your active participation and contribution to this discussion. We completely understand the importance of addressing this issue. Our team is currently evaluating the situation. We will provide you with an update early next week.
We truly appreciate your cooperation and patience in this matter.

[2022-03-17 13:41] codegaze commented on #29
Hello @awais786,

The reasoning behind asking for a token is:

* Migrate the current `config` file with the new resource id's so that the user doesn't do it manually. In order to do that, we need to retrieve each resource's organisation slug.
* We need to make sure if someone has a `.transifexrc` file, they have the correct settings (api token) and not the username/password cases of the old API, i

[2022-03-18 07:41] awais786 commented on #29
Thanks for clarity.

[2022-03-18 10:06] #29 closed

[2022-03-18 10:22] kostasgeo commented on #28
Hi @mumarkhan999 , @awais786!

The `--mode` flag should now be working as expected.
Feel free to test it and close the issue!

[2022-03-18 13:13] fjaeger opened #30 "Please add a --silent flag to reduce the clutter in CI/CD environments"
I really like the CLI progress animation that you added with the new CLI, **but** in a CI/CD environment, the new output simply does not help. It would be nice if there was some kind of toggle to have a more compact output of the progress. Without any fancy animation or similar. Just print the currently active step and that's it :)

[2022-03-21 13:07] mumarkhan999 commented on #28
Hi @kostasgeo @codegaze
Thanks for the response. I tested it on my local machine.
The above-mentioned error is gone. But now we are getting the "pattern doesn't match" error for the `Chinese` language.
This was working fine previously with the old (python) client (I've tested it).

I'm attaching the screenshots of outputs for the new client
![image](https://user-images.githubusercontent.com/422941

[2022-03-21 13:26] kostasgeo commented on #28
Hi @mumarkhan999,

We are glad to hear the `--mode` is now working as expected.

The other error you refer to is related to the language code and the fact it has a dot in it.
We 'll check this and update the issue as soon as possible.

[2022-03-22 13:23] nelefth commented on #5
Hi all,

I would like to follow up on this and share 2 important updates :)

- The sunset of the deprecated API 2.0/2.5 and Transifex client, originally scheduled for April 7, 2022, has been postponed to Nov 30, 2022. [Here](https://community.transifex.com/t/postponing-api-2-0-2-5-and-transifex-client-sunset-date/2759) you can find our official announcement.
- Regarding the initial request, we are

[2022-03-23 11:51] codegaze commented on #28
Hey @mumarkhan999,

Pulling/pushing for these kind of language patterns should work as expected!

Thank you for reporting this and let's close this issue if everything is ok! :)

[2022-03-23 11:51] codegaze commented on #30
Hey @fjaeger,

We appreciate the feedback!
This sounds very reasonable and we probably missed that during implementation.

We are currently re-evaluating a bit the "fancy" output of the CLI, so we need some time for this, but it's going to be addressed in a future release.

[2022-03-24 10:26] mumarkhan999 commented on #28
Hey, @codegaze  thanks for informing.
I've tested it. It's working fine now. 🏃‍♂️🏃‍♂️🏃‍♂️
Thanks for your support. 🤝🤝🤝
I'm closing this issue now. 🔒🔒🔒

[2022-03-24 10:26] #28 closed

[2022-03-31 09:04] joeboyscout04 opened #35 "tx migrate does not migrate source_lang"
The `tx migrate` command doesn't migrate a part of the file specifically that `source_lang` no longer is valid in the configuration, and `source_file` must be used instead.  At least providing a warning would be nice if it's not possible to migrate automatically.

Using `source_lang` in the `.tx/config` and trying to `tx push` results in the error ` ERROR   could not find file ''. Aborting.`

In t

[2022-03-31 10:46] codegaze commented on #35
Hey @joeboyscout04 thanks for bringing this to our attention!

I believe, we took the `source_file` as a given and this is why this part is missing.

I guess a quick fix would be, during the migration script, to check for the `source_file` and if it doesn't exist add it in the config by using the `file_filter` and the `source_lang`.

[2022-03-31 21:55] HSorgYves opened #36 "-f overwrites --minimum-perc"
Help suggests that -f only affects timestamps ("Force the download of the translationsfiles regardless of whether timestamps on the local computer are newer than those on the server (default: false)"). However -f also seems to affect --minimum-perc and download the translation no matter what...

[2022-04-05 14:21] codegaze commented on #36
Hello @HSorgYves, thanks for reporting this!
As you noticed this issue should be fixed with the new release v1.1.0.
Feel free to check everything works as expected and close this issue :)

[2022-04-05 16:31] rhiaro opened #39 "Configure for multiple source and translation files"
I tried to set up a project with the new client, but when I run `tx add` it only lets me set one source file. I have a project with a few dozen source files, so ideally I can just point it to the directory instead of individual files. Is this possible?

[2022-04-05 20:26] HSorgYves commented on #36
Thanks.

[2022-04-05 20:26] #36 closed

[2022-04-06 06:47] kbairak commented on #39
Hello @rhiaro,

Unfortunately, no. We have talked about this but it is a bit difficult and the directory structure of each user may be too unpredictable for us to come up with a universal solution.

However, depending on how predictable _your_ directory structure is, you could achieve what you want using a relatively simple shell script. For example, given this directory structure:

[code]

You ca

[2022-04-08 12:52] robert7k opened #40 "No version information"
There's no way to query `tx` about its version.

I would expect the help message to contain some version information, or a flag like `-v` or `--version`.

[2022-04-08 13:08] codegaze commented on #40
Hello @robert7k,

`tx --version` or `tx -v` should provide the current version.
This is not reflected in our documentation - which we can update - but is part of the `tx --help` command.

If not, please provide some more information about the system you have installed the CLI and the installation method.

If everything works, let's close this one :)

[2022-04-08 13:29] robert7k commented on #40
That doesn't work for me, unfortunately:

[code]

I'm on Gentoo Linux, having installed version 1.1.0 (but cannot verify, see above ;-) )

[2022-04-08 13:37] codegaze commented on #40
Hmmm, @robert7k have you installed a binary or built from source?
Currently the version is [added during the release](https://github.com/transifex/cli/blob/devel/.goreleaser.yml#L11) to the binaries in order to avoid hardcoded values.

[2022-04-08 13:55] robert7k commented on #40
Thanks for the hint. I built it from source. After providing the `ldflags` parameter, it works. Thank you!

[2022-04-08 13:55] #40 closed

[2022-04-08 21:28] Swyter commented on #5
Even easier; have a server-side UTC timestamp of the last time the resource was modified, and check if it's newer than the local file's last-modified date. Careful with timezones.

But, yeah. Downloading all the `resource_count * language_count` files one by one takes a long time, especially when done unnecessarily. The previous version detected unchanged resources and avoided the download altoget

[2022-04-12 04:58] mendax1234 opened #41 "An error with `tx push -s`"
![image](https://user-images.githubusercontent.com/62934294/162883879-adcd1662-adc2-44f8-a68c-2082e7d1d101.png)
How to fix it?

[2022-04-12 07:26] codegaze commented on #41
Hey @mendax1234 from what I understand from your screenshot, [this is](https://github.com/transifex/transifex-client/issues) where you want to create an issue which is the python version of our client.

This repo is related to the new version of the client.

[2022-04-12 07:46] mendax1234 commented on #41
So , the client can't suit python 3.10 version?

[2022-04-12 08:13] codegaze commented on #41
I believe the python client is up to 3.9 version, but the people in that repo can provide a more solid answer, since this client is built in Go.
My suggestion would be to migrate to this version of the client since the old one will sunset on Nov 2022. Feel free to check the [readme](https://github.com/transifex/transifex-client/issues) for more information.

[2022-04-12 08:29] mendax1234 commented on #41
Thanks, l have installed python 3.9 and know the transifex seems to work perfectly!

[2022-04-12 08:29] #41 closed

[2022-04-13 07:47] mumarkhan999 commented on #27
Thanks for the fix @codegaze . It's working fine now.
<img width="710" alt="image" src="https://user-images.githubusercontent.com/42294172/163126234-97ecf3d2-6f1d-4edc-a732-0a40c405812d.png">

[2022-04-13 07:47] #27 closed

[2022-04-16 13:53] bastianeicher opened #42 "onlytranslated mode not working for .resx files"
According to the docs when downloading translations in the `onlytranslated` mode "the response will include the translated strings and the untranslated ones will be returned empty".

I ran `tx pull -l fr --mode onlytranslated` with the following `.tx/config`:

[code]

The resulting file `Model.fr.resx` contained a mixture of translated French strings and untranslated English strings instead of onl

[2022-04-28 06:08] #35 closed

[2022-04-29 12:27] #39 closed

[2022-05-01 01:13] Daltz333 opened #43 "tx migrate requires fancy API prompt"
`tx migrate` currently requires a API input instead of reading from the TX_TOKEN environment variable. We plan to use `tx migrate` in CI as we automatically generate our config file every build (waiting on a dependency to update it's format for the new expected config format).

![image](https://user-images.githubusercontent.com/10674555/166127960-b5e40245-6258-4766-9b14-483eddc7a0ab.png)

[2022-05-04 10:52] Docteh commented on #43
If you can change the config file a different way, the program will accept a TX_TOKEN. For the particular project I'm looking at the migration does this to the config file

[code]

[2022-05-08 20:18] Daltz333 commented on #43
I don't fully understand your response. Even in `tx pull` and `tx push` does not read from the environment variable `TX_CONFIG` and requires interaction, which is extremely hard to do in an automated CI environment.

[2022-05-08 20:21] Daltz333 opened #45 "tx pull freezes and/or takes a long time"
I've recently been in the process of updating [frc-docs-translations](https://github.com/wpilibsuite/frc-docs-translations) to support the new CLI. Using the [attached config file](https://www.toptal.com/developers/hastebin/rajoyiqewe.ini) (the repo config file has not been updated yet), I am getting the following freeze when attempting to run `tx pull -l fr_CA --mode onlyreviewed --use-git-timest

[2022-05-08 20:23] Daltz333 opened #46 "tx push errors with "No project""
I've recently been in the process of updating [frc-docs-translations](https://github.com/wpilibsuite/frc-docs-translations) to support the new CLI. Using the [attached config file](https://www.toptal.com/developers/hastebin/rajoyiqewe.ini) (the repo config file has not been updated yet), I am getting the following freeze when attempting to run `tx push --source --skip`.

[code]

[2022-05-09 12:32] Docteh commented on #43
I was thinking the following sequence in CI

1. Modify  `.tx/config` without asking this transifex tool for a migration, possibly by copying a file onto it. [your file](https://github.com/wpilibsuite/frc-docs-translations/blob/main/.github/workflows/update-translations.yml) looks like a bit more complicated than the one I have on hand
Some regex? not sure on _how_, I just know what to change
`[frc

[2022-05-10 07:17] codegaze commented on #43
Hello @Daltz333,
The migration command was designed as a once off thing that a specific user would run in their machine and then add to the repo not something that would repeatedly run in the CI without any supervision.

Now, regarding your issue, @Docteh's alternative is an option. Have a script in your CI that changes the config with a regex on the fly and continue.

Another option off the top o

[2022-05-10 09:03] codegaze commented on #46
Hey @Daltz333, thanks for reporting this.

I have some questions to understand this problem better:
* Does this happen to all resources?
* What happens if you try to push this specific resource? Do you have the same output?

Also, please add the CLI version you are currently using. You can get it by running `tx --version` or `tx -v`

[2022-05-11 11:18] antonismyl commented on #42
Hello Bastian,

I have already replied to you about this issue a few weeks earlier but in case you missed it I will repost my reply here.

You can view the relevant part of the documentation in the screenshot below:

![image](https://user-images.githubusercontent.com/102531293/167837239-f2ced009-a30c-480f-8e04-f13a2b5e1343.png)

[2022-05-12 07:50] bastianeicher commented on #42
Thanks for the clarification. :)

[2022-05-12 07:50] #42 closed

[2022-05-13 07:28] codegaze commented on #45
Hey @Daltz333, thanks for reporting this.

Could you please try and give some more data on this issue?
* Does this happen to a difference resource/language pair?
* What is your CLI version?
* You are mentioning freeze. Does that mean that everything is stopped (even the spinner) at this step or that this action never finishes?

As a side note since I see you have a lot of resources, there is the p

[2022-05-14 13:38] Daltz333 commented on #45
Yes

[code]

The spinner still goes, but I have let it process for 5 minutes and have no text output.

[2022-05-14 13:38] Daltz333 commented on #46
Yes

Yep

I'm running 1.1.0

[2022-06-15 12:52] jordimas opened #51 "Unable to pull all resources for a project"
Hello. With the old Python client I was able to make:

tx init --host {0} --no-interactive'
tx config mapping-remote {0}'
tx --traceback pull -f -s -lca,ca_ES,en,en_GB'

And this enable my to download all resources for the project, however this with the new client does not seem possible.

I'm basically doing:

tx --hostname https://api.transifex.com --token XXXX init
tx pull --all -s

but does not

[2022-06-16 08:13] codegaze commented on #45
Hey @Daltz333,
There seems to be a performance issue with the `go-git` library we use to get the latest commit date for specific files. This will be solved with the next release we are working on which has a bunch of improvements.

We will update this thread when the new version is released.

[2022-06-22 09:27] matiaskorhonen opened #52 "Homebrew formula"
It would be great if you could add a Homebrew [formula](https://docs.brew.sh/Formula-Cookbook) for the client, this would make installation and updates on macOS a lot nicer.

The client doesn't currently meet the criteria for [Acceptable Formulae](https://docs.brew.sh/Acceptable-Formulae) due to the GitHub repository having too few stars, watchers, or forks (‘<30 forks, <30 watchers and <75 stars’

[2022-06-23 06:50] mayel opened #53 "install script overwrites LICENSE.md if present in current directory?"

[2022-06-23 07:11] mayel commented on #53
and README.md too

[2022-06-23 09:13] codegaze commented on #45
Hey @Daltz333 as promised, this should be fixed in the latest version of the CLI [v1.2.0](https://github.com/transifex/cli/releases/tag/v1.2.0) :)

Feel free to try out and close this issue!

[2022-06-23 09:36] codegaze commented on #5
Hi all!

 I’d like to give you an update on this front. In the new version of the CLI ([v1.2.0](https://github.com/transifex/cli/releases/tag/v1.2.0)) we introduced the concurrent functionality for `pull` and `push` which should resolve the issues mentioned in this thread.
 
By default we use 5 workers, but you can always set a custom number by using the `—workers` flag.  These are all the changes

[2022-06-23 09:37] codegaze commented on #43
Closing this one due to inactivity. @Daltz333 feel free to open it again if it's needed.

[2022-06-23 09:37] #43 closed

[2022-06-23 09:40] codegaze commented on #51
Hey @jordimas, thanks for the feedback!

This is something that the new CLI doesn't support yet, but it's in our plans to add this functionality in a future release in some way.

[2022-06-23 11:41] Daltz333 commented on #45
I'm excited to test it out!

[2022-06-23 15:35] codegaze commented on #30
Hey @fjaeger , this should be fixed in the latest version of the CLI [v1.2.0](https://github.com/transifex/cli/releases/tag/v1.2.0). The output on this version should be simplified and less noisy.

Feel free to try it out, provide feedback and/or close this issue! :)

[2022-06-28 11:58] ByteHamster opened #56 "`tx pull` performs push task?"
I just upgraded to `1.2.0` to test the parallel functionality. I am now getting an error message when pulling, which indicates that the client actually tries to push (and fails). I do not really care about the error itself but I am concerned that the `pull` task now also pushes. I do not want to upload the current state of the source files to Transifex. I only want to pull. Is this a deliberate be

[2022-06-29 00:13] terencehonles commented on #30
I was just updating us from the legacy client and running this locally my screen jumps around in a funny manner. I'm not sure if this is an issue because I'm running this in tmux or some other issue, but it's definitely strange and I'd _prefer_ it not do that, but it's not that big of a deal.

[2022-06-29 11:24] mathaeus commented on #30
I'm currently testing CLI `1.2.0`.

@codegaze it would be very good if there was an option to reduce the output to a minimum or make it silent altogether.
We have quite a few resources and for various reasons we are pulling them all at once usually and on our CI we are running into the problem that already after a few minutes we run into the "maximum allowed size of the log file" (100MB!)

<img wi

[2022-06-29 13:03] codegaze commented on #56
Hey @ByteHamster, thanks for bringing this to our attention. This is a message misuse.

In push and pull we use the `isFileFilterValid` function well... to check if the filter is valid. There is **no push functionality** there but the message is a left over from the latest refactoring we did.

Just for transparency, here is the code I'm referring to.
https://github.com/transifex/cli/blob/devel/int

[2022-06-29 21:04] mayel commented on #53
Yes, here are things I might expect instead:
- it could extract/install in a standard place, such as ~/.tx
- it could create a subfolder
- it could prompt before overriding any existing file

[2022-06-30 04:27] mendax1234 opened #58 "tx error with Github action"
l try to push and pull through github action automatically, but it goes wrong and below is the wrong message .
[code]
l have checked my .transifexrc file and it is correct since l can use tx push -s from the local development environment. So what’s wrong with that? And here is my repo: [mendax1234/6940Swerve-docs: FRC Team 6940’s Swerve Documentation Powered by Read the Docs (github.com)](https://

[2022-06-30 06:05] codegaze commented on #58
Hey @mendax1234,
I believe you are still using the [Python client](https://github.com/transifex/transifex-client).
I would suggest closing this issue and start a new discussion in the repo for the old Python version of the client.

[2022-06-30 06:11] mendax1234 commented on #58
Sure , would you please give me some suggesstions on how to fix this bug? Thanks!

[2022-06-30 07:36] mendax1234 commented on #58
I have created a new issue. https://github.com/transifex/transifex-client/issues/342

[2022-06-30 07:49] #58 closed

[2022-06-30 09:52] kbairak commented on #51
Hey @jordimas ,

Although the new client does not support this functionality, this is something that you can relatively easily accomplish using our API and the Python API SDK. As an example:

[code]

And here is the actual script:

[code]

[2022-06-30 10:42] kbairak commented on #46
Hello @Daltz333 ,

Is there a chance that your API token does not have access to the project? Can you try running

[code]

using the API token found in your `~/.transifexrc` file?

[2022-06-30 10:57] kbairak commented on #30
@mathaeus  TL;DR There is a chance that appending `| cat` to the tx command in your CI configuration file could solve the problem, but I am not 100% sure.

Explanation:

Because of parallelism, we have implemented some sort of "real-time" output. We use a third-party library for this, but I assume this works by printing a chunk of text to the terminal and then, for each update, send a bunch of bac

[2022-06-30 15:30] mathaeus commented on #30
Hi @kbairak, thanks for the tip.

I tried it out, and it indeed seems to reduce the noise. At least to such a degree that we are not running into the maximum space of the log file 👍

Please see below what the log now looks for us.
**I'd look at that info as "verbose information" that we could ideally also silence, what do you think?**
I could imagine that logging way less would speed up the execut

[2022-07-12 13:44] kbairak commented on #53
Hi @mayel,

We fixed this 12 days ago but forgot to mention it. The installation script will now protect pre-existing files.

We normally wait for a release to occur before announcing that an issue is fixed, but the installation command as described in the README pulls the installation script from the `master` branch, this can be considered fixed now.

Thanks again for the feedback.

[2022-07-12 13:44] #53 closed

[2022-07-13 07:08] codegaze commented on #45
Hey @Daltz333, I will close this one since there was no activity for the past 20 days.
If the issue still remains, feel free to reopen it :)

[2022-07-13 07:08] #45 closed

[2022-07-13 13:11] codegaze commented on #46
@Daltz333 @kbairak I will close this for now, because of inactivity. Feel free to open it again if needed.

[2022-07-13 13:11] #46 closed

[2022-07-13 13:14] #5 closed

[2022-07-13 13:55] kbairak commented on #56
Hello @ByteHamster ,

The latest release includes a fix for this issue. Thank you very much for the feedback.

[2022-07-13 13:55] #56 closed

[2022-07-14 08:42] mobilarte opened #68 "Small typo in code of update.go"
Not really worth a fork and a PR, `update.go` line 91 => line should read:

   	fmt.Printf(green("Successfully updated to version v%s"), latestVersion)

These errors are easy to catch when running staticcheck in one of the actions.

[2022-07-16 12:54] ByteHamster commented on #56
Thanks!

[2022-07-19 07:17] kbairak commented on #68
Hello @mobilarte,

Thank you for your input, it helps us a lot.

FYI, you can open pull-requests without having to fork the repository first, straight from the github website. Just click the pencil icon at the top-right corner of the file ([link](https://docs.github.com/en/repositories/working-with-files/managing-files/editing-files#editing-files-in-another-users-repository)).

To be clear, I am n

[2022-07-20 13:56] MMartinDaniel opened #70 "Unable to install cli through install script on MacOS"
Hi!,

I'm trying to install the cli client, but i'm being unable to install due to the following error:

[code]
Tweaking the script while removing `--skip-old-files` does compress just fine or downloading the tar file manually and unzipping it manually works as well.

Any chance this could be fixed ?
Thanks

[2022-07-20 14:32] codegaze commented on #70
Hey @MMartinDaniel, could you please share a bit more information about your system? Probably your `tar` version is more important.

From the message,`--skip-old-files is not supported` it looks that the flag is not supported which is a bit weird.

[2022-07-20 15:55] Heyimlovinyou commented on #70
I don't know how to read *** ****** **** .I can't help but want n try to.
It's fuck idk how xplain without being evil bad but I waiting

On Wed, Jul 20, 2022, 9:56 AM MMartinDaniel ***@***.***>
wrote:

[2022-07-21 07:52] codegaze commented on #70
Thanks @MMartinDaniel, this helped a lot. 🙏

It looks like Mac OS X is using `bsdtar` which doesn't have a `--skip-old-files` but a `-k, --keep-old-files` flag (GNU tar).

We merged a new version that does that check and fallbacks to `bsdtar`, so everything should be ok!  

I’m closing this one, if you have any related issue after testing feel free to open it again!

[2022-07-21 07:52] #70 closed

[2022-07-28 08:09] kbairak commented on #51
Hi @jordimas ,

The latest release [1.3.0](https://github.com/transifex/cli/releases/tag/v1.3.0) includes the `tx add remote` command which brings back this functionality.

Thank you for your feedback.

[2022-07-28 08:09] #51 closed

[2022-07-29 02:23] pixyzehn opened #76 "Exceeding rate limit when getting latest version in install script"
Hi Transifex team,

I encountered an occasional issue where I couldn't get the latest version on CI (which resulted in failed installation):

[code]

It seems it can easily hit the rate limit when getting the latest version from Github API (we could mitigate the issue by setting an irregular time to run it, but it can still happen).

https://github.com/transifex/cli/blob/3c796454f8d60ee2c952214f4e

[2022-07-29 07:18] Kazhuu opened #77 "Getting info about resources causes "unsupported protocol scheme" error"
Hello and thanks for the nice tool! I cloned the repository locally and I either push or pull resources I get error `unsupported protocol scheme ""` I also tried two earlier versions of the tool and the same thing happens.

I built the tool locally according to the guide with `make docker-build`.

[2022-07-29 07:49] Kazhuu commented on #77
I ran `tx migrate` and the error went away. Closing this one.

[2022-07-29 07:49] #77 closed

[2022-07-29 11:41] jordimas commented on #51
Thanks so much.

When I do:

"tx add remote --file-filter 'translations/<project_slug>.<resource_slug>/<lang>.<ext>' https://www.transifex.com/myorganization/myproject/dashboard/"

I get an error:

unable to fetch project: Get "/projects/o:myorganization:p:myproject": unsupported protocol scheme ""

Will be possible to provide a step set of commands to download a sample project? (including setting

[2022-08-02 07:27] #76 closed

[2022-08-10 15:11] dmotpan opened #80 "Allow setting a custom resource name"
We were using the old version of the CLI in the following way:
`tx config mapping --resource {projectName}.{resName} ...` and a new resource with the corresponding name `resName` was created (if it wasn't added before) in Transifex dashboard.
However, currently, after updating the CLI version and calling
`tx add --file-filter='$expression' ... --resource=$resName $sourceFile `
the resource name is

[2022-08-26 15:57] matteobaldelli opened #81 "Different behaviour of pull between new and old cli"
Hi everyone, I just migrate to the new cli and I found out that when I am doing the `tx pull -a` I am not getting anymore the `po` file of the source language. There is a way to get it back?

Logs of old cli version
[code]

Logs of the new cli version
[code]

[2022-08-29 06:49] kbairak commented on #81
Hey @matteobaldelli ,

According to the [Readme](https://github.com/transifex/cli#pulling-files-from-transifex) you can

[2022-08-29 07:09] codegaze commented on #81
+1 on @kbairak's answer. Also, @matteobaldelli I believe you are using an older version of the CLI.
I would suggest upgrading to 1.3.0 which has some performance optimizations, less output, and utilises parallelism.

[2022-08-29 08:11] matteobaldelli commented on #81
Thanks both for the replay, @kbairak I tried to use the `-s` flag but I got a `.pot` file, I would like to have a `.po` file.
@codegaze thanks for the suggestion, I updated it after opening this issue

[2022-08-29 12:52] localjo opened #82 "How do I use this?"
I'm trying to upload new strings to be translated to an existing project. The old command I ran was:

[code]

But that doesn't seem to work anymore (it runs, and says it uploaded the strings, but they don't appear in the project dashboard).

So I figured, rather than debugging the old command, I'd use the new CLI. But I can't figure out how the new CLI works. I installed it, ran `tx config`. The n

[2022-08-29 17:29] codegaze commented on #82
Hey @localjo, closing this in favor of https://github.com/transifex/transifex-javascript/issues/150.
This CLI is used for file projects.

[2022-08-29 17:29] #82 closed

[2022-09-08 06:28] jeffery9 opened #83 "tx pull odoo-15, raise error."
'''
tx pull -a
# Getting info about resources

odoo-15-l10n.l10n_be - Get "/resources/o::p:odoo-15-l10n:r:l10n_be": unsupported protocol scheme ""
odoo-15-l10n.l10n_ca - Get "/resources/o::p:odoo-15-l10n:r:l10n_ca": unsupported protocol scheme ""
odoo-15-l10n.l10n_ch - Get "/resources/o::p:odoo-15-l10n:r:l10n_ch": unsupported protocol scheme ""
odoo-15-l10n.l10n_cn - Get "/resources/o::p:odoo-15-l

[2022-09-08 07:25] codegaze commented on #83
Hello @jeffery9, it seems that you are using this client but you haven't migrated to the new config yet. :)
The first thing to do is to run `tx migrate` but please also take a look at the [migration guide](https://github.com/transifex/cli#migrating-from-older-versions-of-the-client).

[2022-09-08 08:36] mr-v opened #84 "504 Gateway Time-out error written to `.stringsdict` files"
## Issue

About 9 hours ago our automation was pulling `.stringsdict` files. The downloads completed successfully, but the content of some of them was overwritten with:

[code]

Logs from pulling (FWIW I changed the filename here):

[code]

- version: `1.3.0`
- command: `tx pull -f`

## What's expected

The command should fail on encountering the error.

[2022-09-08 14:02] codegaze commented on #84
Hello @mr-v, we appreciate the report and the information to better understand this!
We will have a new release tomorrow with a fix, so I will update this issue to let you know.

[2022-09-09 09:20] codegaze commented on #84
Hey @mr-v,
Thank you again for this report. Updating to the latest version ([v1.3.1](https://github.com/transifex/cli/releases/tag/v1.3.1)) should solve this issue.

I will close this issue for now. Feel free to open it again if something seems off.

[2022-09-09 09:20] #84 closed

[2022-09-14 22:04] HSorgYves opened #89 "file_filter no longer allows the usage of the <lang> tag more than once"
Developing for Joomla!, it makes sense to put language files into language packages. Thus a file filter like
`file_filter = files_projectname_<lang>/<lang>.com_projectname.ini`
is very useful. Is it possible to reintroduce this feature?

[2022-09-15 06:27] codegaze commented on #83
Hey @jeffery9 I will close this one. Feel free to reopen it, if the issue remains.

[2022-09-15 06:27] #83 closed

[2022-09-16 12:38] kbairak commented on #81
Hey @matteobaldelli can you please send me the part of your `.tx/config` file where this resource is configured? I am curious about how you end up getting a `.pot` file.

[2022-09-17 10:26] matteobaldelli commented on #81
Hey @kbairak, thanks for answering, I think you just found out why.

[code]

So I think I just need to change the source file extension

[2022-09-20 19:21] jordimas opened #90 "Unable to use tx add remote"
Hello

tx version 1.3.1

I have been unable to usse the "tx add remote" option.

I do:

_tx init
tx add remote --file-filter 'translations/<project_slug>.<resource_slug>/<lang>.<ext>' "https://www.transifex.com/projects/p/yumex"_

And I get always the error:

_unable to fetch project: Get "/projects/o:projects:p:p": unsupported protocol scheme ""_

Am I doing something wrong? Thanks

[2022-09-21 13:29] kbairak commented on #90
Hey @jordimas ,

The URL structure you are using is old. I am guessing you copy-pasted it from a script that used to work with the old client. The correct one is: `https://www.transifex.com/timlau/yumex`.

Give it a try and please let us know how it goes.

Thanks!

[2022-09-22 07:23] jordimas commented on #90
Thanks @kbairak

My script now looks like with the update project URL:

tx init
tx add remote --file-filter 'translations/<project_slug>.<resource_slug>/<lang>.<ext>' "https://www.transifex.com/timlau/yumex"

and I get the error:

_unable to fetch project: Get "/projects/o:timlau:p:yumex": unsupported protocol scheme ""_

Any idea?

Thanks

[2022-09-30 11:31] mr-v commented on #84
Excellent, thank you for addressing this so quickly!

[2022-09-30 11:31] kbairak commented on #90
Hey @jordimas,

I cannot figure out what the problem is with the information at hand (yet). My best guess is that a `.tx/config` and/or a `~/.transifexrc` file already exists and the URL for the API host is not correct. Is it possible for you to paste the contents of these 2 files here?

**BE CAREFUL!!!** The `~/.transifexrc` file contains API tokens and/or passwords. Make sure you remove them bef

[2022-09-30 16:44] jordimas commented on #90
Thanks.

I had an old ~/.transifexrc which did not contain the _rest_hostname_ field. As I added this line:

_rest_hostname = https://rest.api.transifex.com_

I worked.

May be it will be worth to give an error message if _rest_hostname_ is not defined.

[2022-09-30 18:04] #81 closed

[2022-10-01 07:28] jordimas opened #91 "Unable to pull source"
Hello!

tx version 0.31. If I execute these commands:

[code]

It works perfectly. Once I try to also pull the sources (-s) doing:

[code]

I get this error:

[code]

I was expecting to be able to pull the resources like in the old client.

Let me know if you need any other detail

[2022-10-05 07:16] kbairak commented on #89
@HSorgYves The issue has been fixed. It will be included in the next release, but we will do a pass through the rest of the open issues first to include as many fixes in the release. You can try building the CLI from the `devel` branch if you want, following the instructions on our README.

Thank you for bringing this to our attention.

[2022-10-05 09:14] YvesKreis commented on #89
@kbairak Works fine. Thanks!

[2022-10-05 09:15] HSorgYves commented on #89
@kbairak Works fine. Thanks!

[2022-10-05 12:36] kbairak commented on #91
Hey @jordimas ,

A first observation: your second pull command is wrong:

[code]

I don't know if changing it will fix your issue. In any case, the error messages are deeply misleading so we will take a deeper look.

[2022-10-05 14:05] kbairak commented on #91
Hey @jordimas ,

I still can't figure out what's wrong. I tried reproducing your issue and couldn't. The weird thing is that the error message you are getting is from a call to the API that looks like this `GET /projects/o:otf:p:briar`. However, in the code, this API call happens **after** an API call to `GET /resources/o:otf:p:briar:r:briar-desktop`. This means that the first API call (the one to

[2022-10-05 19:47] jordimas commented on #91
Thanks.

[2022-10-10 15:02] arlindiDev opened #101 "Running `tx migrate` prints `Could not migrate resource`"
I want to migrate the `.tx/config` file to the new version with the new `o:<org>:p:<proj>:r:<res>`.

But when I run `tx migrate` I get the mesage "Could not migrate resource"

[2022-10-10 16:28] #101 closed

[2022-10-11 06:58] jordimas commented on #91
Closing this then, thanks

[2022-10-11 06:58] #91 closed

[2022-10-11 08:43] #30 closed

[2022-10-11 08:43] #80 closed

[2022-10-11 08:43] #89 closed

[2022-10-11 08:43] #90 closed

[2022-10-12 15:16] sterankin opened #105 "Error when using new cli client: flag provided but not defined"
I am currently migrating from the old Python cli, to the new Go client.

When doing a push/pull I am getting the following error message:

**_Incorrect Usage: flag provided but not defined: -no-interactive_**

We called the push and pull as follows:

[code]

Is the --no-interactive no longer supported in the new version (TX Client, version=1.4.0).  The flag is still listed in the documentation at

[2022-10-13 03:39] mendax1234 opened #106 "Error when using the new client to pull resources with `tx pull -l zh_CN --mode onlyreviewed --use-git-timestamps`"
It seems that two days ago, l can use `tx pull -l zh_CN --mode onlyreviewed --use-git-timestamps` to pull the resources from transifex. However, since two days ago, this line of code isn't adaptive. What's the problem? l see the the latest commit change was also two days ago? l believe some changes in this commit leads to this error.

And here is the error:
<img width="503" alt="image" src="https:

[2022-10-15 13:17] andris-zalitis opened #108 "`zero` in stringsdict is not supported for English language"
When trying to upload a source English `stringsdict` resource with `zero` plural rule property, transifex client fails with:
`<...> - upload of resource '<...>' failed - parse_error: Invalid plural types for string: <...> Language supports: ['one', 'other'], but found: ['zero', 'one', 'other'] instead.`

Note that even though for English `zero` **does not provide different from `other`** pluraliza

[2022-10-17 06:02] Docteh opened #109 "New client doesn't appear to use $HOME environment variable"
GHA (GitHub Actions) sets HOME to /github/home

In a GHA script I do
[code]

Meanwhile the current tx client (1.4.0) is actually looking at /etc/passwd to find home directory.

[code]

End result is that I write a config but the client doesn't see.

[2022-10-17 10:23] arlindiDev opened #110 "`tx push` and `tx pull` show the error `tx ERROR: not enough values to unpack (expected 2, got 1)`"
The following command `tx push -s` shows the following error:
`tx ERROR: not enough values to unpack (expected 2, got 1)`

I just upgraded to the new version that supports the new config file format.

[2022-10-17 10:28] codegaze commented on #105
Hello @sterankin. The`--no-interactive` is currently only supported in the `update` command and not to the other commands.

Is there a problem you faced while using `pull` or `push` with the absence of this flag?

[2022-10-17 10:35] sterankin commented on #105
Previously the --no-interactive was used during a push or pull  when using a CI tool, which would skip any prompting.
From the docs:  https://docs.transifex.com/client/pull

[code]

Are you saying that the new CLI version will not have any user prompts when pushing or pulling.   Since our process is fully automated within CI, we don't want any potential prompts to appear and the --no-interactive f

[2022-10-18 09:54] kbairak commented on #108
Hey @andris-zalitis,

Thank you for bringing this to our attention. This is not an issue with the client. The client is not capable of looking inside .stringsdict files, neither in any other file format. This error is raised by Transifex itself. You can verify this by uploading the same source file via the UI.

Unfortunately, this is a very hard issue to solve. The way the database internals inter

[2022-10-18 10:03] kbairak commented on #110
Hey @arlindiDev,

In addition to what @codegaze said, to me this error message seems that it comes from a Python runtime and not a Go binary. Could you also show us the output of `tx -h` and `which tx`?

Thanks

[2022-10-18 10:06] kbairak commented on #105
@sterankin

That is correct.

Furthermore, there is an undocumented flag (that you can view with `tx push/pull -h` nevertheless) called `--silent` to reduce the amount of output shown in CI environments.

Feel free to try it out and let us now if everything works out ok.

[2022-10-18 13:17] andris-zalitis commented on #108
👍

Yup, but `.zero` should be also included additionally to language specific pluralization rules.

That does not sound promising 😟

[2022-10-19 10:47] kbairak commented on #109
Hey @Docteh,

Our latest release [v1.4.1](https://github.com/transifex/cli/releases/tag/v1.4.1) fixes this issue.

Thank you for bringing this to our attention.

[2022-10-19 10:47] #109 closed

[2022-10-19 10:48] kbairak commented on #106
Hello @mendax1234,

Our latest release [v1.4.1](https://github.com/transifex/cli/releases/tag/v1.4.1) fixes this issue.

Thank you for bringing this to our attention.

[2022-10-19 10:48] #106 closed

[2022-10-19 23:58] m-aciek opened #116 "Support for TX_TOKEN environment variable"
Hello,

I'm currently trying to migrate to new CLI. Old one had a helpful feature of reading the API key from environment variable, `TX_TOKEN`, instead of getting it from `--token` argument appended to every command. Would you consider supporting it?

[1] https://github.com/transifex/transifex-client/blob/902d6679ff4c1d454ae642c60050867908924a23/txclib/project.py#L112-L133

[2022-10-20 10:42] Docteh commented on #116
I've been using TX_TOKEN for like `tx push -s` and `tx pull -t -a`

[2022-10-20 12:17] m-aciek commented on #116
Ah, sorry -- my bad. I got mistaken while debugging my code. The environment variable works just fine for me. Closing the issue.

[2022-10-20 12:17] #116 closed

[2022-10-20 15:39] luizfilho-hotmart opened #118 "`tx pull -a -t` always returns `Aborted` when pulling translated files"
I'm running `tx pull -a -t` to get translated files and it always returns `Aborted` with no error messages.

`tx -h`
[code]

`which tx`
`/usr/local/bin/tx`

[2022-10-20 17:20] #118 closed

[2022-10-21 10:51] kbairak commented on #118
Hey @luizfilho-hotmart,

I see that you closed this, but if you could give us a hint as to how we can reproduce this, we would appreciate this. Even if there was an error in the configuration that you since fixed, a simple 'Aborted' message is not a proper response by the cli.

Thanks

[2022-10-21 10:52] #105 closed

[2022-10-21 11:02] mendax1234 commented on #106
Thanks! Furthermore, I want to use a specific version of Transifex to avoid the loss caused by the update. So, how should I proceed? Could you please provide some details? Thanks!

[2022-10-21 11:46] kbairak commented on #106
It depends on your installation method:

- If you [downloaded the binary](https://github.com/transifex/cli#download-from-github-releases-linuxmacwindows) from the [releases page](https://github.com/transifex/cli/releases), then you can simply choose the version you are interested in

- If you want to use the [installation script](https://github.com/transifex/cli/releases), you can replace the occu

[2022-10-21 11:52] mendax1234 commented on #106
Got it! Thank you very much!

[2022-10-24 14:44] arlindiDev commented on #110
@kbairak sorry I fixed this issue. Transifex was updated and we were still using the old version of the cli client

[2022-10-24 14:44] #110 closed

[2022-10-24 14:46] arlindiDev opened #119 "could not find a Transifex API host and/or TOKEN, please inspect your .transifexrc and .tx/config files"
I have the `.transifexrc` under the `.tx/` directory. Also the `rest_hostname` and `token` in the file. But I keep getting the error everytime I run `tx pull`.

[code]

I am using transifex cli `1.4.0`.

[2022-10-24 15:54] #119 closed

[2022-10-26 14:46] luizfilho-hotmart commented on #118
Hello @kbairak,

This error occurred when the Transifex API was unstable. After the API instability normalize the translation files returned correctly. I didn't change the configuration.

[2022-11-02 17:33] arlindiDev opened #121 "Updated to version 1.4.0 getting an error"
When running the following command:
`tx pull --force -l=de,en_GB,es,fr,it,nl,pl,pt_BR,sv`

I get the error below:

`It doesn't make sense to use the '--all' or '--language' flag without the '--translation' flag`

[2022-11-02 17:58] codegaze commented on #121
Hello @arlindiDev, please update to the latest version (`1.4.1`). In  `1.4.0` we introduced a check that was causing this error.

Feel free to close this one if everything is ok after updating.

[2022-11-04 08:26] maximbircu opened #122 "There is no way to install a specific version of CLI with current bash installer"
### Background
I am using TX on my CI, for which the machine spins up automatically and installs the TX CLI every time I build a new image for it. Considering that the CLI is evolving actively at the moment, I would like to take control over the version that gets installed on my machine so that I don't have my logic broken due to new breaking changes from the latest version.

### Requirements
- Ad

[2022-11-11 14:18] #121 closed

[2022-11-14 18:48] mateot1 opened #125 "How do I bypass the restart terminal step for CI?"
Specifically, I'm trying to update a github workflow for pushing our string source file from the old client, which did something like this (probably copied from your now-outdated docs for Travis integration):
[code]

I was kind of hoping I could just replace the first 4 lines installing via the python virtualenv with:
[code]

But I still get `/home/runner/work/_temp/(some unique id for the workflo

[2022-11-15 07:45] codegaze commented on #125
Hey @mateot1, this is an github action issue. I believe following this [thread](https://github.com/orgs/community/discussions/25407) will solve this problem.

I tried with
[code]

and worked like a charm.

[2022-11-15 16:10] mateot1 commented on #125
@codegaze thank you! that solves that issue, however now this line does not seem to be doing what it should:
[code]

I get this error: `Error getting API token: could not find a Transifex API host and/or TOKEN, please inspect your .transifexrc and .tx/config files`

I didn't change anything about how the secret variables are configured in github, so I'm wondering if the new cli expects a different

[2022-11-16 07:13] codegaze commented on #125
Hey @mateot1, I'm glad you figured it out! I will close this one for now! :)

[2022-11-16 07:13] #125 closed

[2022-11-17 02:33] chenrui333 opened #126 "Would be good to add setup-transifex action for github action user"
👋  we are trying to do the transifex upgrade at Meetup, and I noticed there is such installation step as `curl -o- https://raw.githubusercontent.com/transifex/cli/master/install.sh | bash`, I wonder if it makes sense to just do a setup-transifex action in this repo for github action users. Happy to contribute on that.

[2022-11-17 11:02] codegaze commented on #122
Hey @maximbircu,
Again, thank you for your contribution! The change is now on `master`, so you and everyone else can use it! 👏

[2022-11-17 11:02] #122 closed

[2022-11-17 11:06] ekaterinashenets opened #132 "gzip: stdin: not in gzip format"
Hello!

We're using `curl -o- https://raw.githubusercontent.com/transifex/cli/master/install.sh | bash -s -- 1.4.1` command to install transifex client. Everything was clear yesterday, but today it fails with an error:
`tgzip: stdin: not in gzip format`. See screenshot

<img width="950" alt="image" src="https://user-images.githubusercontent.com/43377137/202430222-24ed1b1a-87fc-485b-ae21-da0e12d603

[2022-11-17 11:10] codegaze commented on #132
Hey @ekaterinashenets, thanks for bringing this into our attention.

The version addition was merged today, so I'm not sure how you managed to get the version with the `https://raw.githubusercontent.com/transifex/cli/master/install.sh` url.

Either way, I think adding `v` as in `-- v1.4.1` should solve this issue :)

[2022-11-17 11:26] ekaterinashenets commented on #132
@codegaze works for me, thanks!

[2022-11-17 11:38] #132 closed

[2022-11-23 04:27] chenrui333 opened #138 "Need better error message than stacktrace dump"
## Problem

When trying to run `tx pull` with misconfigured `.tx/config`, I saw some stacktrace dump as below

[code]

I would be better to display more user-friendly error messages rather than the stacktrace dump.

[2022-11-23 21:07] chenrui333 opened #139 "Is there any way to exclude the translation strings sent to transifex?"
Right now, we are doing the v2 to v3 upgrade using the new API and v3 endpoint.

With v2 API, we had some custom in house process of pushing the translation strings into transifex, that code has some functionality of being able exclude some translation string patterns. While I want to get rid of some in house custom code in favor of the new cli, but I am not sure whether this is supported in the n

[2022-11-25 09:17] codegaze commented on #126
Hello @chenrui333,

Thank you for bringing up ideas to improve the CLI! 💪
Of course we'd be happy to add something that will help more the installation, but could you elaborate a bit more on how this is different from the `curl`? How would that help you as a user? :)

[2022-11-25 09:25] codegaze commented on #139
Hello @chenrui333,

CLI works on a file level with some specific filters for translation strings (like get only translated, reviewed etc) and that's about it.

I don't see making changes to that logic in the near future, but feel free to share what you'd like to achieve in case we can share some input. As always, if you are comfortable with Go you can take parts of the functionality of the CLI and

[2022-11-28 16:10] chenrui333 commented on #126
it is technically like curl, but has some github action environment integration so that it is more convenient to use. (think this like whatever `setup-xx` actions)